<div class="towerad ad" data-position=""></div>
<div class="article-content spacer">
  {{#article.blogLanding}}
  <div class="blogHeader" style="background-image: url('/Assets/cd/blogs/cropped/{{article.blogLanding}}.png');">
    <span><strong>{{article.blogTitle}}</strong></span>
  </div>
  {{/article.blogLanding}}
  <h1>{{article.title}}</h1>
  {{#article.shareUrl}}
  <div class="social-media-sharing">
    <ul class="social-share">
      <li class="linkedin">{{#linkedin}}<a href="{{linkedin}}" class="linkedin">Linkedin</a>{{/linkedin}}</li>
      <li class="twitter">{{#twitter}}<a href="{{twitter}}" class="twitter">Twitter</a>{{/twitter}}</li>
      <li class="facebook">{{#facebook}}<a href="{{facebook}}" class="facebook">Facebook</a>{{/facebook}}</li>
      <li class="email">{{#email}}<a href="{{email}}" class="email">Email</a>{{/email}}</li>
    </ul>
  </div>
  {{/article.shareUrl}}
  <span class="author">{{article.author}}</span>
  {{#videoid}}<div class="widescreenVideo">
    <a href="/video_player?bcpid={{playerID}}&bckey={{playerKey}}&bctid={{videoid}}&linkBaseURL={{encodedLink}}">
      <img src="{{videoStill}}" style="width: 100%;" alt="" />
      <div class="playButton"><img src="/Assets/cd/Play.png" alt="Play"></div>
    </a>
  </div>{{/videoid}}
  {{#soundcloudEmbed}}<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{soundcloudEmbed}}&amp;color=b51218&amp;auto_play=false&amp;show_artwork=false"></iframe>{{/soundcloudEmbed}}
  {{#article.image}}<img src="{{article.image}}" class="article-image" />{{/article.image}}
  {{#article.paragraphs}}
    <p>{{{.}}}</p>
  {{/article.paragraphs}}
</div>