<div class="towerad ad" data-position=""></div>
<div class="article-content">
  <h1>{{title}}</h1>
  {{#article.shareUrl}}
  <div class="social-media-sharing">
    {{#linkedin}}<a href="{{linkedin}}" class="linkedin"><i></i>Linkedin</a>{{/linkedin}}
    {{#twitter}}<a href="{{twitter}}" class="twitter"><i></i>Twitter</a>{{/twitter}}
    {{#facebook}}<a href="{{facebook}}" class="facebook"><i></i>Facebook</a>{{/facebook}}
    {{#google}}<a href="{{google}}" class="google"><i></i>Google+</a>{{/google}}
    {{#email}}<a href="{{email}}" class="email"><i></i>Email</a>{{/email}}
  </div>
  {{/article.shareUrl}}
  <span class="author">{{article.author}}</span>
  {{#image}}<img src="{{image}}" class="article-image" />{{/image}}
  {{#article.paragraphs}}
    <p>{{{.}}}</p>
  {{/article.paragraphs}}
</div>