<div class="settings-screen">
  <div class="settings-header">
    <div id="utility-nav" class="utility-nav">
      <a href="#AboutThisApp" class="active">About This App</a> | 
      <a href="#AboutModernHealthcare">About Modern Healthcare</a> | 
      <a href="#SubscribeToMH">Subscribe to Modern Healthcare</a> | 
<!--      <a href="http://www.modernhealthcare.com/privacypolicy">Privacy Policy</a> | -->
      <a href="#AdvertiseWithUs">Advertise With Us</a>
    </div>
    <div class="external-links">
      <a href="mailto:gschexnayder@modernhealthcare.com?subject=Feedback+from+Modern+Healthcare+App" target="_blank" class="sendfeedback">Send Us Your Feedback</a>
    </div>
  </div>

  <div id="settingsContainer">
    <div class="scroll-wrapper scroll-horizontal">
      <div class="scroller">
          <div id="AboutThisApp" class="scroll-item">
            <h1>About This App</h1>
            <p>Thank you for downloading the Daily News app for Modern Healthcare.</p>
			<p>Modern Healthcare's mission is to make our news available wherever our readers need it. Continuing that mission, Modern Healthcare launched this Daily News app for tablets that provides a tablet-optimized view of the healthcare business news executives need most.</p>
            <p>The app features the latest healthcare business Top Stories, Breaking News and what's Most Popular with our readers. On the home screen, readers can easily swipe across the headlines for a quick view of what's happening in healthcare right now. Tap a story preview and the app downloads the full story. When you're done reading an article, you can swipe to the other stories in that section or go back to the previews.</p>
            <p>For a deeper dive into the topics that interest you most, you can click “My Topics” and choose to read the latest stories from nine topics -- healthcare reform, finance, government, healthcare IT, payers, physicians, safety/quality, supply chain and magazine (stories from our weekly print product).</p>
            <p>If you want to save a story for reading later, tap “Add to Briefcase” and the story is saved in your app to read when you have more time. Just tap “My Briefcase” to read all the stories you saved.</p>
            <p>We've also assembled the Twitter handles of our staff, under “MH Tweets,” allowing you to follow the 140-character conversations of our editors, reporters and staff, staying on top of the trends and news as they emerge on social networks.</p>
            <p>The new Modern Healthcare Daily News app officially launched in beta on April 1, 2013 and officially on May 6, 2013 for all tablets. Following our tablet launch, you'll soon be able to find the app in iTunes and get a version of the app optimized for smartphones as well.</p>
            <p>The tablet app is free to download and, for 90 days from April 1, 2013, the news is free to read.</p>
			<p>Modern Healthcare is <a href="http://www.modernhealthcare.com/everywhere">everywhere our readers need us to be</a>. Now we're bringing our award-winning news to you in a tablet-friendly way.</p> 

          </div>
          <div id="AboutModernHealthcare" class="scroll-item">
            <h1>About Modern Healthcare</h1>
            <p>Modern Healthcare is the industry's leading source of healthcare business and policy news, research and information. We report on important healthcare events and trends, as they happen, through our weekly print magazine, websites, e-newsletters, mobile products and events. Our readers use that information to make informed business decisions and lead their organizations to success. It's for this reason that Modern Healthcare magazine is <a href="http://www.modernhealthcare.com/mediakit">ranked No. 1 in readership among healthcare executives</a> and deemed a <a href="http://www.modernhealthcare.com/section/testimonials">"must-read" by the who's who in healthcare</a>.</p>
            <p>The weekly print magazine, websites, e-newsletters, mobile products and events provide a powerful and all-encompassing industry presence. We ask the tough questions and provide more than just a news report. We deliver in-depth analysis and a look into what's happening next, so readers can understand the impact these issues will have on them, their organizations and the entire industry.</p>
            <p>Modern Healthcare <a href="http://www.modernhealthcare.com/editorialawards">leads the market in editorial excellence</a> and is honored to receive awards from ASBPE, ASHPE American Business Media, Trade Association and Business Publications International and the Association of Health Care Journalists, affirming Modern Healthcare's status as the best source for healthcare business and policy news, research and information.</p>
			<br/>
			<p><a href="http://www.modernhealthcare.com/terms-of-use">Terms Of Service</a></p> 
			<p><a href="http://www.modernhealthcare.com/privacypolicy">Privacy Policy</a></p>
          </div>
          <div id="SubscribeToMH" class="scroll-item" style="min-height: 326px; width: 1880px;">
            <h1>Subscribe to Modern Healthcare</h1>
			<img src="/App/images/magazineAd.png" style="display:block;margin:auto;margin-top:-20px">
            <strong style="font-size: 20px;display: block;margin: 15px;">Premium subscribers get an all-access pass to the latest news and trends, data and the digital edition.</strong>
            <ul style="list-style-type:square;margin:0 0 1em 2em;">
                
                <li><strong>Search Modern Healthcare archives</strong> to uncover complete coverage of news and information from all our products and get the ammunition you need to make smarter decisions.</li>
                
                <li style="margin: 10px 0;"><strong>Download in-depth research and statistics</strong> on hospitals/health systems, IT, outsourcing and other areas in our Research Center to help you better understand the marketplace and uncover new opportunities.</li>
                <li style="margin: 10px 0;"><strong>On-demand data from our most popular editions, including</strong>: By the Numbers, 100 Top Hospitals Analysis, Best Places to Work, Top 25 Women in Healthcare and more.</li>
            </ul>
            <p><a href="https://sec.crain.com/MH/QuickOrder.aspx?PromotionCode=W3MHPAP">Get your all-access pass today!</a></p>
          </div>
<!--          <div id="PP" class="scroll-item">
            <h1>Privacy Policy</h1>
            <p>Modernhealthcare.com is the Web site of Modern Healthcare, a publication of Crain Communications Inc. Our postal address is 150 N. Michigan Avenue, Chicago, IL 60601. We can be reached by e-mail at mheditorial@crain.com or by telephone at 312-649-3173. Your use of our Web site indicates to us that you have read and accepted our Privacy Policy and our Terms and Conditions.<br/><br/>We have developed this Privacy Policy to advise subscribers and users of our products about our possible uses of information collected by us and to inform you on how to modify your marketing preferences. This Privacy Policy is subject to change. When we make any material change to this Privacy Policy, we will inform you by posting a notice on the home page of this site and by changing the date on this page noting when the Privacy Policy was last updated.</p>
          </div>
-->          <div id="AdvertiseWithUs" class="scroll-item">
            <h1>Advertise With Us</h1>
            <p>For information about advertising in this app and in other Modern Healthcare products, contact Ilana Klein, National Ad Sales Director (<a href="mailto:Iklein@modernhealthcare.com">Iklein@modernhealthcare.com</a> / 312.649.5311).</p>
          </div>
      </div>
    </div>
  </div>
</div>