{{#items}}
<div class="hero scroll-item" data-id="{{id}}">
  {{#image}}<div style="background-image:url({{image}});{{#picWidth}} width:{{picWidth}}px;{{/picWidth}}{{#picHeight}} height:{{picHeight}}px;{{/picHeight}}" class="hero-img {{picOrientation}}" data-id="{{id}}"></div>{{/image}}
  <div class="article-content">
    <h1 data-id="{{id}}">{{title}}</h1>
    <span class="kicker" data-id="{{id}}">{{kicker}}</span>
    <p><span class="date">{{pubDate}}</span></p>
    <p data-id="{{id}}">{{description}}</p>
    <span data-id="{{id}}" class="button">Read More</span>
    <div class="swipe-icon">Tap to read article, swipe for next article.</div>
  </div>
</div>
{{/items}}