<div class="scroller">
  <a class="closesubscription">Close</a>
  <script>
      $('a.closesubscription').click(function() {
          $('#subscription').slideUp();
      });
  </script>
  <div class="new-member">
    <h3>SELECT SUBSCRIPTION</h3>
      <p>Please select one of the subscriptions below.</p>
      <div class="offer1">
        <a href="https://sec.crain.com/CD/QuickOrder.aspx?PromotionCode=W4CDWWTN" target="_blank"><img src="images/subscribe01.png" /></a>
        <p>Subscribe to the Online Edition<br/>
        <a href="https://sec.crain.com/CD/QuickOrder.aspx?PromotionCode=W4CDWWTN" target="_blank" class="button white">$36/year</a></p> 
      </div>
      <div class="offer2">
        <a href="https://sec.crain.com/CD/QuickOrder.aspx?PromotionCode=W4CDWTN" target="_blank"><img src="images/subscribe02.png"/></a>
        <p>Subscribe to the Print Edition<br/>
        <a href="https://sec.crain.com/CD/QuickOrder.aspx?PromotionCode=W4CDWTN" target="_blank" class="button white">$59/Year</a>
        </p>
      </div>
  </div>
  <div class="already-a-member">
    
    <h3>ALREADY A CRAINSDETROIT.COM MEMBER?</h3>
    <p>Please login below.</p>

    <div id="CSLogin" class="login form">

        <form name="CSLogin">
            <div class="field">
                <label for="CSUsername">
                    Username        
                </label>
                <input id="CSUsername" name="CSUsername" type="email" placeholder="you@youremail.com" autocomplete="off">
            </div>
            <div class="field">
                <label for="CSPassword">
                    Password
                </label>
                <input id="CSPassword" name="CSPassword" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
            </div>
            <div class="field submit">
                <input class="button white" type="submit" value="Login">
            </div>
              <div class="register-links">
                  <a href="https://home.crainsdetroit.com/clickshare/addAccountMetered.do?CSProduct=crainsdetroit-metered" target="_blank">Register now!</a> | <a href="https://home.crainsdetroit.com/clickshare/resetPassword.do" target="_blank">Forgot password?</a>
              </div>
        </form>    

        <div class="errorMsg" style="color: red;">{{errorMsg}}</div>

    </div>

  </div>
  <div class="clearfix"></div>
</div>